:root {
  --primary: rgba(247, 202, 216, 1);
  --secondry: rgba(161, 193, 243, 1);
  --dark: rgba(124, 99, 165, 1);
  --light: rgba(255, 243, 248, 1);
  --white: rgba(255, 255, 255, 1);
  --dark-color: rgba(33, 36, 61, 1);
}
